.root {

    -fx-background-color: #FFF8F0;
}

.button {

    -fx-background-color: #6F4E37;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.text-field {

    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
}

.table-view {

    -fx-pref-width: 600px;
    -fx-pref-height: 300px;
}